.sidenav {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    text-align: center;
    margin-bottom: 30px;
  }
}

.sidenav p {
  font-size: 1.625em;
  margin-top: -5px auto 10px;
}

@media screen and (max-width: 991px) {
  .sidenav p {
    font-size: 1.375em;
  }
}

@media screen and (max-width: 767px) {
  .sidenav p {
    margin: 0 auto 10px;
  }
}

ul {
  margin: auto;
  padding-left: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

li {
  width: 170px;
  height: 50px;
  position: inline-block;
  color: #fff;
  font-family: Impact, sans-serif;
  font-size: 1.625em;
  line-height: 1.75;
  letter-spacing: 2px;
  margin: 5px auto;
  padding: 0;
  border-radius: 8px;
  text-align: center;
  list-style: none;
}

@media screen and (max-width: 991px) {
  li {
    width: 135px;
    height: 35px;
    font-size: 1.25em;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 767px) {
  li {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  li {
    width: 100px;
    height: 30px;
    font-size: 1.125em;
  }
}

@media screen and (max-width: 400px) {
  li {
    height: 28px;
    font-size: 1em;
    padding: 2px;
  }
}

li:hover {
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
}

li#January {
  background: #2d5baa;
}

li#February {
  background: #00b8ec;
}

li#March {
  background: #6dcff6;
}

li#April {
  background: #00afad;
}

li#May {
  background: #00a957;
}

li#June {
  background: #92c847;
}

li#July {
  background: #ffe22a;
}

li#August {
  background: #f78e1e;
}

li#September {
  background: #ef3e2e;
}

li#October {
  background: #b41e8e;
}

li#November {
  background: #715ba7;
}

li#December {
  background: #39388a;
}
