body {
  background: url(img/background.jpg) center center / cover no-repeat fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* All Links */
a {
  color: #404040;
}
a:hover,
a:active {
  font-weight: bold;
  outline: none;
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
}
