.mainContent {
  flex-grow: 3;
  margin-right: 40px;
  text-align: center;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5625em;
  }
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.mainContent {
  display: block;
  text-align: center;
  font-size: 1em;
  margin: 12px;
}

@media screen and (max-width: 767px) {
  .mainContent {
    margin-right: 0;
  }
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.hrStyle {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

@media screen and (max-width: 767px) {
  .hrStyle {
    margin: 25px;
  }
}